@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

$font-family-main: 'Outfit', sans-serif;

$main-color: #FC4747;
$dark-blue: #10141E;
$greyish-blue: #5A698F;
$semi-dark-blue: #161D2F;